<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.rahulja.groupingmessages">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShowActivity"
            android:label="@string/title_activity_show"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseBucketActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
    </application>

</manifest>
